{% extends 'home/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="content">
    <div class="button-container">
        <a class="button" href="/generator"><span>Frequency Generator</span></a>
    </div>
    <div class="button-container">
        <a class="button" href="/generator/repository"><span>Repository</span></a>
    </div>
</div>
{% endblock %}