<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repository</title>
</head>
<body>

<div class="container">

</div>

</body>
</html>

<script type="text/javascript">
    var container = document.getElementsByClassName("container")[0];
    {% for image in images %}
        var node = document.createElement("DIV");
        var img = document.createElement("IMG");
        node.appendChild(img);
        img.setAttribute("src", "data:image/png;base64,{{ image }}");
        container.appendChild(node);
    {% endfor %}
</script>