@import url(https://fonts.googleapis.com/css?family=Roboto);

/*
#f1f3f8
#f1f3f8
#d6e0f0
#8d93ab
#393b44
*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #393b44;
}

.header__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.header__button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header__button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.header__right {
    display: inline-block;
    margin: 0px 10px;
}

p.header__right {
    font-family: 'Roboto', sans-serif;
    color: #0088a9;
}

main {
    background-color: #8D93AB;
    flex-grow: 1;
}